* {
    margin: 0;
    padding: 0;
}
header {
width: 100%;
    height: 120px;
    background-color: rgb(153, 105, 230);
    color: white;
}
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(230, 105, 209);
    color: white;
}
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 50px;
  }
  .card {
    width: 80%;
    margin: 40px auto;
    border: 7px solid rgb(14, 67, 214);
    box-shadow: 5px 10px #33FFBD;
  }